@import "tailwindcss";

.btn {
  @apply font-semibold py-3 rounded-lg px-3 transition duration-230 ease-in-out shadow-md cursor-pointer;
}

.inputan {
  @apply p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200;
}

.label {
  @apply block font-semibold mb-1 text-pink-600;
}
